extends layout

block content
  h1.invis Facebook Page Albums Downloader
  h2.invis Get Public Facebook Page's Albums on your email 
  .centered
    div
      div#message=''
      input(type='text', ng-model='id', name='id', placeholder=' facebook page id or name')
      br
      input(type='email', ng-model='email', name='email', placeholder=' your email')
      br
      button(ng-click='getAlbum()')='Get'

