doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Get all public albums from public Facebook Pages using page ID or page name. You just need to provide ID or name we will dowload images zip them and send to your email.')
    meta(name="keywords" content="facebook,page,download,email,album,images")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Hovhannes Sanoyan")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='icon',type="image/x-icon", href='images/favicon.ico')
    title Shishdown - Facebook page albums downloader
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-85417314-2', 'auto');
      ga('send', 'pageview');
  body(ng-app='ngApp' ng-controller='MainController')
    block content
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
  script(src='javascripts/controller.js')
