extends layout

block content
  .centered
    style(type='text/css').
      body {
        box-shadow: inset 0 0 300px 1px rgba(0,51,0, 0.2);
      }
      h4 {
        color: #555;
        text-transform: uppercase;
      }
    h4 #{message}

