body {
  box-shadow: inset 0 0 300px 1px #ccc;
  transition: all 0.3s;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Open Sans';
  animation-duration: 5s;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.invis {
  opacity: 0;
}

body:hover {
  box-shadow: inset 0 0 300px 1px #eee;
}

#message {
  font-size: 14px;
  font-weight: bold;
  margin: 10px auto;
  transition: 1s;
  opacity: 0;
  text-transform: uppercase;
  color: #555;
  min-height: 20px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #ccc;
}

::-moz-placeholder {
  text-transform: uppercase;
  color: #ccc;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  color: #ccc;
}

:-moz-placeholder {
  text-transform: uppercase;
  color: #ccc;
}

.centered {
  text-align: center;
  top: calc(40% - 60px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.centered input[type='text'], .centered input[type='email'] {
  border: 1px solid #eee;
  width: 200px;
  height: 30px;
  margin: 2px;
}

.centered button {
  height: 30px;
  width: 100px;
  color: #555;
  border: 1px solid transparent;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.centered input, .centered button {
  transition: all .5s;
}

.centered button:hover, .centered input:hover {
  border: 1px solid #ccc;
}

.centered input:focus, .centered button:focus {
  outline: none;
  border-color: #555;
}

@keyframes error {
  0% {
    box-shadow: inset 0 0 300px 1px #eee;
  }
  50% {
    box-shadow: inset 0 0 300px 1px rgba(255, 26, 26, 0.2);
  }
  100% {
    box-shadow: inset 0 0 300px 1px #eee;
  }
}

@keyframes success {
  0% {
    box-shadow: inset 0 0 300px 1px #eee;
  }
  50% {
    box-shadow: inset 0 0 300px 1px rgba(0, 153, 0, 0.2);
  }
  100% {
    box-shadow: inset 0 0 300px 1px #eee;
  }
}